@charset "UTF-8";
hr.clear
	{
	width:1px;
	height:1px;
	color:#FFFFFF;
	border:none;
	clear:both;
	}
*+html hr.clear
	{
	border:none;
	padding:0px;
	}
#icon-options-oni_daiko
	{
	background:url(images/admin.gif) no-repeat;
	}
div#oni_daiko_wrap
	{
	border:solid 1px #E3E3E3;
	border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	padding:0px 10px 0px 10px;
	background:#FFFFFF;
	}
div#oni_daiko_wrap p
	{
	margin:0px 0px 10px 10px;
	}
div#oni_daiko_wrap label
	{
	vertical-align:middle;
	}
div#oni_daiko_wrap input ,
div#oni_daiko_wrap select
	{
	vertical-align:middle;
	margin:0px 0px 0px 10px;
	}
input#oni_daiko_tag
	{
	width:50%;
	border:solid 1px #E3E3E3;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:#FFFFFF;
	}
	
/* ************************************************ 
 * Feeling!!
 * It is inquiry in the webnist
 * webnist@webnist.org
 * ************************************************ */
